.game-of-life {
  width: 100vmin;
  height: 100vmin;

  > .cell {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    outline: 1px solid green;
    &.dead {
      background-color: black;
    }
    &.alive {
      background-color: greenyellow;
    }
  }
}
